.bcbst_widget_resources_form .media-item {
  padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.bcbst_widget_resources_form .media-item .image-preview img {
  max-width: 100%;
  height: auto;
}

.bcbst_widget_resources_form .media-item input,
.bcbst_widget_resources_form .media-item textarea {
  width: 100%;
}

.bcbst_widget_resources_form .jetty-image-choose-action {
  padding: 10px 0 12px 0;
    text-align: center;
}

.bcbst_widget_resources_form .jetty-image-choose-action a.button + a.button {
  margin-left: 5px;
}
