.site-header {
	padding-top: 20px;
}
.site-header__top-section {
	overflow: hidden;
}
.site-header__branding {
	text-align: center;
}
.site-header__image-wrapper {
	display: inline-block;
}
	.site-header__image {
		max-width: 100px;
		max-height: 100px;
	}
.site-header__title {
	margin: 0;
	a {
		color: $color__text-header;
		text-decoration: none;
	}
}
.site-header__description {
	color: $color__text-header;
}

@media screen and ( min-width: $breakpoint__tablet ) {
	// Align the innards of the site title
	.site-header__branding {
		display: table;
		width: 100%;
	}
		.site-header__image-wrapper,
		.site-header__title-section {
			display: table-cell;
			vertical-align: middle;
		}
		.site-header__image-wrapper	{
			height: 95px;
			width: 100px;
		}
	.site-header__image {
		margin-right: 20px;
	}
	.site-header__title,
	.site-header__description {
		text-align: left;
	}
	.site-header__description {
		margin: 0;
	}
}

@media screen and ( min-width: $breakpoint__computer ) {
	// Align site title and widget area side-by-side
	.site-header__branding {
		float: left;
		width: 67%;
		text-align: left;
	}
	.site-header__widgets {
		float: left;
		width: 33%;
	}
}
