$color__primary: #fff;
$color__primary--inv: #404040;
$color__secondary: #13509f;
$color__secondary--inv: #fff;
$color__tertiary: #f00;
$color__tertiary--inv: #000;

$color__background-body: $color__primary;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__secondary;
$color__link-visited: $color__secondary * .2;
$color__link-hover: $color__secondary * .2;
$color__text-header: $color__secondary;
$color__text-main: $color__primary--inv;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
